{{define "component--card" }}
	<div class="card">
		<div class="card__header">
		{{block "slot--header" .}}
			a header
		{{end}}
		</div>
		<div class="card_body">
		{{block "slot--body" .}}
			a body
		{{end}}
		</div>
	</div> 
{{end}}
